<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <h1>SDK下载</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <h2>版本V1.0.0</h2>
            <p><small>发布时间：2017-04-06</small></p>
            <p>[新增]检查版本功能</p>
            
        </div>
        <div class="col-md-2">
            <div class="panel panel-default margin">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#1">V1.0.2</a></li>
                        <li><a href="#2">V1.0.1</a></li>
                        <li><a href="#3">V1.0.0</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /container -->