 <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron"> 
    <div class="container">
    <h1>GFix 热修复平台</h1>
    <p>一个Android 平台的hotfix 平台, 支持热更新，支持热修复，支持多版本管理，应用统计。</p>
    <p><a class="btn btn-primary btn-lg" href="#/doc" role="button">查看文档</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
    <div class="col-md-4">
        <h2>全量更新</h2>
        <p>所有的APP代码都可以进行替换和修复，不在纠结文件差分包，更新就是完整的APK。</p>
    </div>
    <div class="col-md-4">
        <h2>版本管理</h2>
        <p>平台提供完整的应用版本控制功能，可以让APP随意切换到任意版本，可以强制用户升级。</p>
    </div>
    <div class="col-md-4">
        <h2>统计分析</h2>
        <p>平台提供APP的使用统计等功能，统计用户的在线情况，安装情况等。</p>
    </div>
    </div>

    <hr>

    <footer>
    <p>&copy; 2017 GeoBeans, Inc.</p>
    </footer>
</div> <!-- /container -->